@import "tailwindcss";

@theme {
  --color-primary: #45cf17;
  --color-primary-dark: #36a312;
  --color-background-light: #f6f8f6;
  --color-background-dark: #152111;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1e2e19;
  --color-text-primary-light: #111b0e;
  --color-text-primary-dark: #f0fdf4;
  --color-text-secondary-light: #60974e;
  --color-text-secondary-dark: #a3d9a5;

  --font-display: "Lexend", sans-serif;
}

/* Pastikan Font Lexend sudah di-import di index.html atau di sini */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

@layer base {
  body {
    @apply font-display bg-background-light text-text-primary-light dark:bg-background-dark dark:text-text-primary-dark;
  }
}